<!--
largeur=width
longueur=height
-->
<div class="camion m-3" style="width:190px; height:590px">
  <div class="row m-0">
  <div class="palet m-1" style="width:<%= @palets[0].largeur %>px; height:<%= @palets[0].longueur %>px">
    <%= @palets[0].name %>
  </div>
  <div class="palet m-1" style="width:<%= @palets[1].largeur %>px; height:<%= @palets[1].longueur %>px">
    <%= @palets[1].name %>
  </div>
  <div class="palet m-1" style="width:<%= @palets[2].largeur %>px; height:<%= @palets[2].longueur %>px">
    <%= @palets[2].name %>
  </div>
  <div class="palet m-1" style="width:<%= @palets[3].largeur %>px; height:<%= @palets[3].longueur %>px">
    <%= @palets[3].name %>
  </div>
  </div>
</div>
